extends ../layouts/layout

block content
    if products
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                ul.list-group
                each product in products
                    li.list-group-item
                        span.badge.badge-pill.badge-secondary.pull-right #{product.qty} 
                        strong #{product.item.title} 
                        span.badge.badge-success $#{product.price} 
                        .btn-group
                            button.btn.btn-primary.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown") Action 
                                span.caret
                            ul.dropdown-menu
                                li.dropdown-item
                                    a(href="#") Reduce by 1
                                li.dropdown-item
                                    a(href="#") Remove all
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                strong Total:  #{totalPrice}
        hr
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3
                a.btn.btn-success(href="/checkout", type="button") Checkout
    else
        .row
            .col-sm-6.col-md-6.col-md-offset-3.col-sm-offset-3 
                h2 No Items In Cart       
